$black: #141736;
$gray: #bbbbbb;
$gray2: #acb3b3;
$gray3: #eeeeef;
$gray4: #9b9393e5;
$darkGray: #2c2f52;
$white: #ffffff;





$green: #36d436;
$red: #f03810;
$bgRed: #fff0ed;

$violet: #592286;
$lightBlue: #4184bb;
$darkBlue: #222549;
$darkBlue2: #454a80;
$darkViolet: #391457;
$violetLight: #ebe7ff;
$violetBg: #72189e;
$mainBg: #304358;
$lightYellow: #ffc75e;
$yellow: #ffb21e;
$darkYellow: #a16d0a;
$modalLayer: #14173666;
$modalLayerNoTransparent: #141736;
$lightGreen2: #a7a41f;
$disabledAsibeBCG: #30435855;
$blue: #2894f9;
$blueLight: #E1F0FE;
$yellowLight: #FFF5E2;
$grayUnderline: #E1E1E1;
$backgroundColor: #EBEBEB;
$shadow: 0px 10px 22px -4px #9f9f9fd5;
$shadow2: 0px -2px 9.3px -4px #9F9F9F26;
$shadow3: 0px 10px 22px -4px #000000d5;
$shadow4: 0px 10px 22px -4px #9898B0d5;
